@media(min-width: 1200px) {

    .header {
        padding: 70px 0px 80px 90px;
        font-size: 21px;
    }



    .home {
        padding-left: 170px;
        padding-top: 50px;
    }
    
    .home h1 {
        font-size: 85px;
        width: 765px;
        line-height: 85px;
    }
    
    .home p {
        font-size: 30px;
        padding-top: 15px;
        width: 540px;
        line-height: 30px;
    }
    
    .home .fa-circle-arrow-down {
        font-size: 85px;
        margin-top: 40px;
    }

    .faixa {
        margin-top: 80px;
        padding: 90px 370px;
        font-size: 30px;
    }
    
    .faixa p span {
        font-size: 30px;
    }


    .metodologia h4 {
        width: 340px;
        margin-left: 160px;
        margin-top: 120px;
        font-size: 35px;
        padding-right: 160px;
        padding-bottom: 6px;
    }
    
    .metodologia .linha {
        width: 490px;
        padding-top: 100px;
        margin-left: 170px;
        border-top: 2px solid #000;
        margin-bottom: 100px;
    }

    .metodologia .itens {
        padding-bottom: 20px;
    }
    
    .metodologia .itens .title h3 {
        width: 720px;
        font-size: 40px;
        border-bottom: 3px solid #000;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-right: 120px;
        padding-bottom: 4px;
    }
    
    .metodologia .title .fa-circle-arrow-down {
        font-size: 40px;
        position: relative;
        top: 44px;
        right: 40px;
    }
    
    .metodologia .itens p {
        font-size: 30px;
        width: 970px;
        line-height: 40px;
    }



    .autenticidade {
        margin-left: 170px;
        background: url(https://placehold.co/940x750) no-repeat right top;
        width: 1374px;
        height: 750px;
        margin-bottom: 80px;
    }
    
    .autenticidade .textos {
        padding-top: 40px;
    }
    
    .autenticidade .textos h1{
        font-size: 210px;
        line-height: 170px;
        background: text linear-gradient(to right, #000000 438px, #ffffff 150px);
        -webkit-text-fill-color: transparent;
    }
    
    .autenticidade .textos p {
        font-size: 30px;
        line-height: 40px;
        padding-top: 15px;
        width: 380px;
    }
    
    .autenticidade .textos .fa-circle-arrow-down {
        font-size: 85px;
        padding-top: 40px;
    }



    
    .nossos-cases {
        margin-left: 170px;
    }
    
    .nossos-cases .title-2 h2 {
        display: flex;
        font-size: 55px;
        width: 440px;
        border-bottom: 3px solid #000000;
        padding-bottom: 20px;
        padding-right: 110px;
        margin-bottom: 40px;
        line-height: 65px;
    }
    
    .nossos-cases .title-2 .fa-circle-arrow-down {
        font-size: 45px;
        position: relative;
        top: 75px;
        right: 55px;
    }
    
    .cases img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 35px;
        width: 880px;
    }
    
    .cases .info {
        margin-left: 40px;
    }
    
    .cases .info p {
        font-size: 18px;
        margin-top: 45px;
    }
    
    .cases .info h3{
        font-size: 45px;
        width: 320px;
        margin-top: 20px;
    }
    
    .cases .info .fa-circle-arrow-right {
        margin-bottom: 50px;
        font-size: 43px;
    }



    
    .roda-pe {
        margin-top: 130px;
        margin-left: 170px;
        margin-bottom: 80px;
        width: 1189px;
        
        font-size: 22px;
        
        border-top: 2px solid #000000;
        padding-top: 20px;
    }
    
    .roda-pe p {
        width: 560px;
        padding-left: 15px;
    }
    
    .roda-pe span {
        width: 390px;
        padding-left: 215px
    }




    .contato {
        width: 1220px;
        height: 630px;
        border-radius: 50px;
        margin-left: 170px;
        margin-bottom: 200px;
    }
    
    .contato .cont-info {
        padding: 70px 70px 25px 70px;
    }

    .contato .cont-info.principal img {
        width: 140px;
    }
    
    .contato .cont-info .principal p{
        font-size: 80px;
        width: 680px;
        padding-top: 30px;
        line-height: 80px;
    }
    
    .contato .cont-info .principal p span {
        font-size: 80px;
    } 
    
    .contato .cont-info .elen-contato {
        padding-top: 55px;
    }
    
    .contato .cont-info .elen-contato img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        width: 80px;
    }
    
    .contato .cont-info .elen-contato a {
        font-size: 40px;
        margin-left: 20px;
        border-bottom: 3px solid #ffffff;
        width: 300px;
    }
    
    .contato .cont-info span {
        font-size: 14px;
        padding-top: 140px;
    }
    
    .contato .cont-info .email {
        margin-top: 80px;
        margin-left: 60px;
    }
    
    .contato .cont-info .email p {
        font-size: 22px;
        border-bottom: 1px solid #ffffff;
        width: 90px;
    }
    
    .contato .cont-info .email a {
        padding-top: 10px;
        font-size: 22px;
    }

    .contato .cont-info .botao {
        margin-top: 170px;
        margin-left: 30px;
    }

    .contato .cont-info .botao .fa-circle-arrow-right {
        font-size: 24px;
        align-items: center;
        position: relative;
        left: 50px;
    }
    
    .contato .cont-info .botao button {
        font-size: 22px;
        padding: 22px 75px;
        border-radius: 20px;
    }
}