@font-face {
    font-family: 'DegularDemo';
    src: url(../fonts/fonnts.com-DegularDemo-Regular.otf);    
}

@font-face {
    font-family: 'DegularDemo BoldItalic';
    src: url(../fonts/fonnts.com-DegularDemo-BoldItalic.otf);
}

@font-face {
    font-family: 'DegularDemo Bold';
    src: url(../fonts/fonnts.com-DegularDemo-Bold.otf);
}

body {
    font-family: 'DegularDemo';
}



.header {
    padding: 60px 0px 70px 65px;
}

.menu {
    display: flex;
    align-items: flex-start;
}

.menu li {
    padding-left: 80px;
    text-transform: uppercase;
}

.menu li .ativo {
    border-bottom: solid 1px #000000;
}



.home {
    padding-left: 140px;
    padding-top: 50px;
}

.home h1 {
    font-size: 70px;
    width: 630px;
    line-height: 70px;
}

.home p {
    font-size: 25px;
    padding-top: 10px;
    width: 440px;
}

.home .fa-circle-arrow-down {
    font-size: 70px;
    color: #305973;
    margin-top: 30px;
}




.faixa {
    background-color: #305973;
    margin-top: 80px;
    padding: 80px 300px;

    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

.faixa p {
    color: #fff;
}

.faixa p span {
    font-size: 25px;
    font-family: 'DegularDemo BoldItalic';
}




.metodologia h4 {
    display: flex;
    width: 300px;
    margin-left: 140px;
    margin-top: 100px;
    font-size: 25px;
    text-transform: uppercase;
    padding-right: 140px;
    padding-bottom: 8px;
}

.metodologia .linha {
    width: 420px;
    padding-top: 100px;
    margin-left: 150px;
    border-top: 2px solid #000;
    margin-bottom: 100px;
}

.metodologia .itens .title {
    display: inline-flex;
}

.metodologia .itens .title h3 {
    display: flex;
    width: 594px;
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-right: 120px;
    padding-bottom: 4px;
}

.metodologia .title .fa-circle-arrow-down {
    font-size: 35px;
    color: #5B917C;
    position: relative;
    top: 30px;
    right: 36px;
}

.metodologia .itens p {
    font-size: 25px;
    width: 880px;
}




.autenticidade {
    margin-left: 140px;
    width: 1170px;
    background: url(https://placehold.co/800x700) no-repeat right top;
    height: 700px;
    margin-bottom: 60px;
}

.autenticidade .textos {
    padding-top: 30px;
}

.autenticidade .textos h1{
    font-size: 180px;
    font-family: 'DegularDemo Bold';
    line-height: 150px;
    background: text linear-gradient(to right, #000000 374px, #ffffff 150px);
    -webkit-text-fill-color: transparent;
}

.autenticidade .textos p {
    font-size: 25px;
    line-height: 35px;
    padding-top: 10px;
    width: 300px;
}

.autenticidade .textos .fa-circle-arrow-down {
    font-size: 70px;
    color: #305973;
    padding-top: 30px;
}




.nossos-cases {
    margin-left: 140px;
}

.nossos-cases .title-2 {
    display: inline-flex;
}

.nossos-cases .title-2 h2 {
    display: flex;
    font-size: 45px;
    text-transform: uppercase;
    width: 350px;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
    padding-right: 110px;
    margin-bottom: 30px;
}

.nossos-cases .title-2 .fa-circle-arrow-down {
    font-size: 40px;
    color: #305973;
    position: relative;
    top: 55px;
    right: 40px;
}

.case {
    display: none;
}

.case.aberto {
    display: flex;
}

.case img {
    max-width: 100%;
    border-radius: 30px;
}

.case .info {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.case .info p {
    font-size: 16px;
    margin-top: 35px;
}

.case .info h3{
    font-size: 40px;
    width: 300px;
    margin-top: 20px;
}

.case .info .fa-circle-arrow-right {
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: 40px;
    color: #305973;
    font-size: 37px;
}

.case .info .fa-circle-arrow-right:active {
    color: #ffffff;
    background: #305973;
    border-radius: 50%;
}




.roda-pe {
    display: flex;
    margin-top: 100px;
    margin-left: 140px;
    margin-bottom: 80px;
    width: 1020px;
    
    font-size: 20px;
    
    border-top: 1px solid #000000;
    padding-top: 20px;
}

.roda-pe p {
    width: 500px;
    padding-left: 10px;
}

.roda-pe span {
    width: 350px;
    padding-left: 150px
}




.contato {
    display: flex;
    background: #305973;
    width: 1040px;
    height: 540px;
    border-radius: 40px;
    margin-left: 140px;
    margin-bottom: 200px;
}

.contato .cont-info {
    display: flex;
    padding: 50px 50px 15px 50px;
    color: #ffffff;
    flex-flow: column wrap;
}

.contato .cont-info.principal img {
    width: 100px;
    max-width: 100%;
    max-height: 100%;
}

.contato .cont-info .principal p{
    font-size: 65px;
    width: 580px;
    padding-top: 35px;
}

.contato .cont-info .principal p span {
    font-family: 'DegularDemo BoldItalic';
    font-size: 65px;
} 

.contato .cont-info .elen-contato {
    display: flex;
    align-items: center;
    padding-top: 35px;
}

.contato .cont-info .elen-contato img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

.contato .cont-info .elen-contato a {
    color: #ffffff;
    font-size: 35px;
    margin-left: 20px;
    border-bottom: 2px solid #ffffff;
    width: 270px;
}

.contato .cont-info span {
    font-size: 12px;
    padding-top: 90px;
}

.contato .cont-info .email {
    margin-top: 100px;
    margin-left: 75px;
}

.contato .cont-info .email p {
    font-size: 20px;
    border-bottom: 1px solid #ffffff;
    width: 90px;
}

.contato .cont-info .email a {
    color: #ffffff;
    padding-top: 10px;
    font-size: 20px;
}

.contato .cont-info .botao {
    margin-top: 140px;
    margin-left: 50px;
}

.contato .cont-info .botao .fa-circle-arrow-right {
    font-size: 22px;
    align-items: center;
    position: relative;
    left: 40px;
}

.contato .cont-info .botao .fa-circle-arrow-right:active {
    color: #5B917C;
}

.contato .cont-info .botao button {
    font-size: 20px;
    text-transform: uppercase;
    padding: 18px 55px;
    background: #5B917C;
    color: #ffffff;
    border-radius: 15px;
    border: none;
}

.contato .cont-info .botao button:active {
    background: #ffffff;
    color: #5B917C;
}