@font-face {
    font-family: 'DegularDemo';
    src: url(../fonts/fonnts.com-DegularDemo-Regular.otf);    
}

@font-face {
    font-family: 'DegularDemo BoldItalic';
    src: url(../fonts/fonnts.com-DegularDemo-BoldItalic.otf);
}

body {
    font-family: 'DegularDemo';
}

.header {
    padding: 60px 0px 70px 65px;
}

.menu {
    display: flex;
    align-items: flex-start;
}

.menu li {
    padding-left: 80px;
    text-transform: uppercase;
}



.home {
    padding-left: 140px;
    padding-top: 50px;
    margin-bottom: 90px;
}

.home h1 {
    font-size: 70px;
    width: 640px;
    line-height: 70px;
}

.home p {
    font-size: 25px;
    padding-top: 20px;
    width: 420px;
}

.home .fa-circle-arrow-down {
    font-size: 70px;
    color: #305973;
    margin-top: 30px;
}





.cases {
    margin-left: 140px;
    margin-bottom: 250px;
    width: 1055px;
    height: 800px;
    display: flex;
}

.cases .case {
    display: none;
}

.cases .case.aberto {
    display: flex;
    flex-flow: column;
}

.cases .case img {
    max-width: 100%;
    border-radius: 30px;
}

.cases .case .info{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.cases .case .info h3 {
    font-size: 50px;
    width: 550px;
    
}

.cases .case .info p {
    font-size: 30px;
    width: 370px;
    align-items: flex-start;
    margin-top: auto;
}

.cases .case .info .botao {
    width: 290px;
    height: 60px;
    justify-content: center;
}

.cases .case .info .botao button {
    width: 290px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: #262626;

    text-align: start;
    padding-left: 30px;
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
}

.cases .case .info .fa-circle-arrow-right {
    position: relative;
    left: 240px;
    bottom: 38px;
    color: #305973;
    background: #ffffff;
    font-size: 30px;
}



























.contato {
    display: flex;
    background: #305973;
    width: 1030px;
    height: 420px;
    border-radius: 40px;
    margin-left: 140px;
    margin-bottom: 100px;
}

.contato .cont-info {
    display: flex;
    padding: 50px 50px 15px 50px;
    color: #ffffff;
    flex-flow: column wrap;
}

.contato .cont-info .principal p{
    font-size: 65px;
    width: 580px;
    padding-top: 30px;
}

.contato .cont-info .principal p span {
    font-family: 'DegularDemo BoldItalic';
    font-size: 65px;
} 


.contato .cont-info .elen-contato {
    display: flex;
    align-items: center;
    padding-top: 35px;
}

.contato .cont-info .elen-contato img {
    border-radius: 50%;
}

.contato .cont-info .elen-contato a {
    color: #ffffff;
    font-size: 35px;
    margin-left: 20px;
    border-bottom: 2px solid #ffffff;
    width: 270px;
}

.contato .cont-info span {
    font-size: 12px;
    padding-top: 130px;
}

.contato .cont-info .email {
    margin-top: 100px;
    margin-left: 75px;
}

.contato .cont-info .email p {
    font-size: 20px;
    border-bottom: 1px solid #ffffff;
    width: 90px;
}

.contato .cont-info .email a {
    color: #ffffff;
    padding-top: 10px;
    font-size: 20px;
}

.contato .cont-info .botao {
    margin-top: 140px;
    margin-left: 75px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 18px 55px;
    background: #5B917C;
    color: #ffffff;
    border-radius: 15px;
    border: none;
}